<div class="place">
<table id="tournament_listing">
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Tournament.all.each do |tournament| %>
  <tr>
    <td><%= tournament.date %></td>
    <td><%= tournament.location %></td>
    <td><%= link_to 'View Tournament', tournament %></td>
    <% if can? [:destroy, :update], @tournament %>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
    
    
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Tournament %>
<%= link_to 'New Tournament', new_tournament_path, id: "new_tournament_link", remote: true %>
<% end %>
</div>