<p id="notice"><%= notice %></p>

<p>
  <b>Tournament:</b>
  <%= Tournament.find(@participant.tournament_id).location %> -
  <%= Tournament.find(@participant.tournament_id).date %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@participant.user_id).name %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
