<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Status:</b>
  <%= @user.status %>
</p>
  <% if can? :read, Gear.new %>
  <b>Gear:</b>
  <div id="gear_listing">
    <% @user.gears.each do |gear| %>
      <p id="<%= gear_id_helper(gear) %>"><%= gear.name %>  <% if can? :destroy, gear %> <%= link_to 'Destroy gear', user_gear_path(@user, gear), confirm: "Are you sure?", method: :delete, remote: true %><% end %></p>
    <% end %>
  </div>
  <% if can? :create, Gear.new(:user_id => @user.id) %>
  <%= link_to 'Add Gear', new_user_gear_path(@user), id: "new_user_gear_link", remote: true %> |
  <% end %>
  <% end %>



<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'All Users', users_path %>
