<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Status:</b>
  <%= @user.status %>
</p>

  <b>Gear:</b>
  <div id="gear_listing">
    <% @user.gears.each do |gear| %>
      <p><%= gear.name %>   <%= link_to 'Destroy gear', user_gear_path(@user, gear), confirm: "Are you sure?", method: :delete %></p>
    <% end %>
  </div>
  <%= link_to 'Add Gear', new_user_gear_path(@user), id: "new_user_gear_link", remote: true %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
