<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Status:</b>
  <%= @user.status %>
</p>
<% if can? :read, Gear.new %>
<div class="dropdown">  
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= @user.name %>'s Gear Interests<b class="caret"></b></a>  
                        <ul class="dropdown-menu">
                          <% @user.users_gears.each do |ug| %> 
                            <li><%= link_to "#{User.find(Gear.find(ug.gear_id).user_id).name}'s #{Gear.find(ug.gear_id).name}",  Gear.find(ug.gear_id) %></li>  
                          <% end %>  
                        </ul>  
                    </div>
                    <br >
  <% if current_user.id == @user.id %>
  <div class="accordion" id="accordion2">
     <!--<div class="accordion-heading btn">-->
      <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Anyone Interested in My Stuff?
      </a>
    <!--</div>-->
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul>
          <% @user.gears.each do |gear| %>
            <% UsersGear.all.each do |ug| %>
            <% if gear.id == ug.gear_id %>
            <li><%= User.find(ug.user_id).name %>'s interested in your <%= gear.name %></li>
            <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <b>Owned Gear:</b>
  <div id="gear_listing">
    <% @user.gears.each do |gear| %>
      <p id="<%= gear_id_helper(gear) %>"><%= link_to gear.name, gear %>  <% if can? :destroy, gear %> <%= link_to 'Destroy gear', user_gear_path(@user, gear), confirm: "Are you sure?", method: :delete, remote: true %><% end %></p>
    <% end %>
  </div>
  <% if can? :create, Gear.new(:user_id => @user.id) %>
  <%= link_to 'Add Gear', new_user_gear_path(@user), id: "new_user_gear_link", remote: true %> |
  <% end %>
  <% end %>



<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back Home', root_path %>
