<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Status:</b>
  <%= @user.status %>
</p>
<p>
  <b>Gear:</b>
  <% @user.gears.each do |gear| %>
  <p><%= gear.name %></p>
  <% end %>
  <%= link_to 'Add Gear', new_user_gear_path(@user) %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
