<h1>Listing tournaments</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= tournament.date %></td>
    <td><%= tournament.location %></td>
    <td><%= link_to 'View Tournament', tournament %></td>
    <% if can? [:destroy, :update], @tournament %>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
    
    
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @tournament %>
<%= link_to 'New Tournament', new_tournament_path %>
<% end %>
