<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @tournament.date %>
</p>

<p>
  <b>Location:</b>
  <%= @tournament.location %>
</p>

<div>
	<p><b>SMU Participants</b></p>
	<ul id="participant_listing">
	  <% @tournament.participants.each do |participant| %>
	  <li id="<%= participant_id_helper(participant) %>"><%= User.find(participant.user_id).name %>   <% if can? :destroy, @participant %><%= link_to 'delete participant', tournament_participant_path(@tournament, participant), confirm: "Are you sure?", method: :delete, remote: true %><% end %></li>
	  <% end %>
    </ul>
    
</div>

<br />
<% if can? :create, @particiant %>
<%= link_to 'Add Participants', new_tournament_participant_path(@tournament), id: "new_tournament_participant_link", remote: true %>
<% end %>

<br >

<table class="table table-bordered" id="result_listing">
  <tr>
    <th>Place</th>
    <th>Team Name</th>
  </tr>

<% @tournament.results.each do |result| %>
  <tr id="<%= result_id_helper(result) %>">
    <td><%= result.place %></td>
    <td><%= result.team_name %>   <% if can? :destroy, @result %><%= link_to 'delete result', tournament_result_path(@tournament, result), method: :delete, remote: true %> <% end %></td>
  </tr>
<% end %>
</table>
<% if can? :create, @result %>
<%= link_to 'Add Results', new_tournament_result_path(@tournament), id: "new_tournament_result_link", remote: true %>
<% end %>
<br />



<div class="footer">
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back Home', root_path %>
</div>
