<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @tournament.date %>
</p>

<p>
  <b>Location:</b>
  <%= @tournament.location %>
</p>

<div>
	<p><b>SMU Participants</b></p>
	<ul>
	  <% @tournament.participants.each do |participant| %>
	  <li><%= User.find(participant.user_id).name %>   <%= link_to 'delete participant', tournament_participant_path(@tournament, participant), confirm: "Are you sure?", method: :delete %></li>
	  <% end %>
    </ul>
    
</div>

<br />
<%= link_to 'Add Participants', new_tournament_participant_path(@tournament) %>

<table class="table table-bordered">
  <tr>
    <th>Place</th>
    <th>Team Name</th>
  </tr>

<% @tournament.results.each do |result| %>
  <tr>
    <td><%= result.place %></td>
    <td><%= result.team_name %>   <%= link_to 'delete result', tournament_result_path(@tournament, result), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Add Results', new_tournament_result_path(@tournament) %>
<br />

<div class="dropdown">  
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>  
                        <ul class="dropdown-menu">  
                            <li><a href="#">PHP</a></li>  
                            <li><a href="#">MySQL</a></li>  
                            <li class="divider"></li>  
                            <li><a href="#">JavaScript</a></li>  
                            <li><a href="#">HTML5</a></li>  
                        </ul>  
                    </div>  


<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
