<%= form_for([@tournament, @result]) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :place %><br />
    <%= f.select :place, %w[1st 2nd 3rd 4th 5th 6th 7th 8th 9th 10th], {}, { :prompt => 'Select Place' } %>
  </div>

 
  
  <div class="field">
    <%= f.label :team_name %><br />
    <%= f.text_field :team_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
