<p id="notice"><%= notice %></p>

<p>
  <b>Tournament:</b>
  <%= Tournament.find(@result.tournament_id).location %> -
  <%= Tournament.find(@result.tournament_id).date %>
</p>

<p>
  <b>Place:</b>
  <%= @result.place %>
</p>

<p>
  <b>Team name:</b>
  <%= @result.team_name %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
