<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= User.find(@gear.user_id).name %>
</p>

<p>
  <b>Cost:</b>
  <%= @gear.cost %>
</p>

<p>
  <b>Name:</b>
  <%= @gear.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gear.description %>
</p>

<p>
  <b>For sale:</b>
  <%= @gear.for_sale %>
</p>


<br >

<%= link_to "All Gear", gears_path %> |
<%= link_to "Owner's Profile", user_path(@gear.user_id) %>


