<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= User.find(@gear.user_id).name %>
</p>

<p>
  <b>Cost:</b>
  $<%= @gear.cost %>
</p>

<p>
  <b>Name:</b>
  <%= @gear.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gear.description %>
</p>

<p>
  <b>For sale:</b>
  <% if @gear.for_sale %>
  Yes
  <br >
<% unless current_user.id == @gear.user_id %>
<div id="interested_or_not">
  <% if current_user.is_interested(@gear) %>
  <p id="already_interested">You're already interested</p><br >
  <%= link_to "Not Interested Anymore", mark_uninterested_gear_user_path(current_user, gear_id: @gear.id), :class => "btn btn-large btn-danger", remote: true %>
  <% else %>
  <p id="interested">Interested in this piece of gear?</p><br >
 <%= link_to "Mark Interested", mark_interested_gear_user_path(current_user, gear_id: @gear.id), :class => "btn btn-large btn-primary", remote: true %>
  <% end %>
</div>
<% end %>

  <% else %>
  No
  <% end %>
</p>



<br >

<%= link_to "Back Home", root_path %> |
<%= link_to "Owner's Profile", user_path(@gear.user_id) %>


